body {
	background-color: maroon;
	overflow-x: hidden;
}

img{z-index:10;}

#wrapper{width:100%; min-width:985px; float:left;}

#Dash {
	font: 1.5em/2em Arial, Helvetica, sans-serif;
	background-color: #FFF;
	border: 2px outset grey;
	color: maroon;
	float: left;
	height: 624px;
	line-height: 24px;
	margin-top: 5px;
	padding: 5px;
	position: relative;
	min-width:225px;
	width: 25%;
}

	#Dash p {
		margin: 6px 0;
		padding: 0 5px;
	}
	
	#resign{float:left;}

/* Styles for move logging table */

#log {
	font: 14px Arial, Helvetica, sans-serif;
	background-color: transparent;
	border: 2px outset gray;
	color: #FFF;
	overflow-y: auto;
	height: 530px;
	padding: 3px;
	margin-top:24px;
	clear:left;
}
	#log table {
		background-color: transparent;
		border-color: black;
		border-collapse: separate;
		border-spacing: 2px 2px;
		width: 100%;
	}
	#log table tr {border: 1px solid;}
	#log table td {padding: 1px;}
	#log table thead th:last-child {color: black;}
	#log table thead th {width: 50%;}
	#log table tr td:last-child {color: black;}
	#log table tr:nth-child(odd), th {background-color: grey;}
	#log table tr:nth-child(even) {background-color: darkgrey;}

#logo{
	background:transparent url(../images/small-logo.png) top left no-repeat;
	display:inline-block;
	float:left;
	height:50px;
	position:relative;
	width:50px;
}

/* Styles for captured piece container */
#prison{
	float:left;
	height:624px;
	width:70px;
	display:block;
}

	#prison ul li{
		display:block;
		height:50px;
	}
	#prison ul li span{
		position:relative;
		bottom:20px;
		left:-7px;
		z-index:5;
	}
	#prison ul li[rel^='white']{color:white;}

/* Board styles */
#board{
	background:url(../images/marble.jpg);
	border:4px outset gray;
	float:left;
	width:624px;
	height:624px;
	position:relative;
	margin:5px;
	padding:7px 0 0 7px;
}

	#board ul{
		height:77px;
		width:616px;
		position:relative;
		background-color:rgba(255,255,255,0.5);
		color:#222;
	}
	
	#board ul li{
		display:inline;
		float:left;
		position:relative;
		height:75px;
		width:75px;
		border:1px solid silver;
	}
	
	#board ul li img{
		display:block;
		position:relative;
	}
	
	#board ul:nth-child(odd) li:nth-child(odd),
	#board ul:nth-child(even) li:nth-child(even) { background-color:rgba(0,0,0,0.5); }
	
	#board img.active:hover{
		border:1px solid red;
		left:-1px;
		top:-1px;
	}
	#board ul li.legal:hover{background-color:rgba(0,100,200,0.6) !important; border:1px solid red; }
	
	#board ul:first-child div:hover{margin-top:0;}
	#board ul li:first-child:hover{margin-left:0;}
	
	#board ul li.legal{background-color:rgba(0,0,200,0.6) !important;}
	#board ul li.threat{background-color:rgba(200,0,0,0.6) !important;}

#cover{
	position: absolute;
	top: 7px;
	left: 7px;
	height: 616px;
	width: 616px;
	background-color: rgba(50,50,50,0.5);
	z-index: 9000;
}

#cover form{
	color: #CCC;
	background: #333;
	height: 200px;
	margin: 50% auto;
	padding-top: 100px;
	position: relative;
	top: -150px;
	width: 330px;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	-webkit-box-shadow: 0px 0px 20px 1px #FFFFFF;
	-moz-box-shadow: 0px 0px 20px 1px #FFFFFF;
	box-shadow: 0px 0px 20px 1px #FFFFFF;
}

#cover form button { position: relative; left:40%; top: 2em; }
#cover form label { margin-left: 15%; }
#cover form input { margin-left: 1em; }

#board span.label{
	bottom:1px;
	color: #222222;
	font-size:0.8em;
	left:2px;
	position:absolute;
	z-index:100;
	
	text-shadow: -1px -1px 0px #e0e0e0;
	filter: dropshadow(color=#e0e0e0, offx=-1, offy=-1);
}
	#board ul:nth-child(odd) li:nth-child(odd) span.label,
	#board ul:nth-child(even) li:nth-child(even) span.label {
		color: #C0C0C0;
		text-shadow: 1px 1px 0px #333;
		filter: dropshadow(color=#CCC, offx=-1, offy=-1);
	}

/* Styles for classes */

.selected{
	background-color:silver !important;
	border:1px solid purple;
	z-index:5;
}

.hidden{
	visibility:hidden;
}
